* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont{
    width: 200px;
    height: 200px;
    position: relative;

    button {
        width: 12em;
        height: 5em;
        background: linear-gradient(90deg, #0038ff, #7331ea);
        outline: none;
        border: none;
        border-radius: 0.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;

        &:hover .glare{
            opacity: 0.2;
            transition: opacity 0.52s ease;
        }
        .glare{
            width: 50px;
            height: 50px;
            position: absolute;
            transform: translate(-50%, -50%);
            background: rgb(255, 255, 255);
            opacity: 0;
            border-radius: 50%;
            filter: blur(25px);
          }

        span{
            color: #fff;
            font-size: 18px;
        }
    }
}