@import url('https://fonts.googleapis.com/css?family=Bitter|Noto+Serif|PT+Serif|Roboto+Slab|Work+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  
  .main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont{
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    perspective: (700px);
    text-align: center;
    margin:0 10%;
    font-family: 'Bitter', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Slab', serif;
    //font-family: 'Noto Serif', serif;
    //font-family: 'Work Sans', sans-serif;
    font-weight: 700;
  
    button {
        font-family: 'Work Sans', sans-serif;
        width: 12em;
        height: 5em;
        background: linear-gradient(90deg, #0038ff, #7331ea);
        box-shadow: 0 0 34px -2px rgba(44, 54, 231, 0.45);
        outline: none;
        border: none;
        border-radius: 0.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); //rotateY(20deg);
        overflow: hidden;

        &:hover .glare{
            opacity: 0.4;
        }
        .glare{
            width: 50px;
            height: 50px;
            position: absolute;
            transform: translate(-50%, -50%);
            background: rgb(255, 255, 255);
            opacity: 0;
            border-radius: 50%;
            filter: blur(35px);
            transition: opacity 0.32s cubic-bezier(.76,.08,.26,1.34);

          }

        span{
            color: #fff;
            font-size: 18px;
        }
    }
}


#button2{
    width: 14em;
    height: 5em;
    background: linear-gradient(90deg, #2c35f7, #6232ee);    
    box-shadow: 0 0 20px -2px rgba(4, 7, 56, 0.45);
    outline: none;
    border: none;
    border-radius: 0.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)); //rotateY(20deg);
    overflow: hidden;
    transition: 0.22s cubic-bezier(.76,.08,.26,1.34);

    &:hover .glare2{
        opacity: 0.15;
    }

    &:hover span{
        transform: translate(-50%, -50%) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(15px) ; //rotateY(20deg);
    }

    &:active{
        transform:translate(-50%, -50%) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(-20px) ;
    }
    &:active span{
        transform:translate(-50%, -50%) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(40px) ;
    }

    .glare2{
        width: 120px;
        height: 120px;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        background: rgb(255, 255, 255);
        opacity: 0.1;
        border-radius: 50%;
        filter: blur(30px);
        transition: 0.32s ease;
    
      }
    
    span{
        color: #fff;
        font-size: 18px;
        display: block;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        transition: 0.32s ease;

    }
}
